
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.hero-section {
    background-image: url('images/nathan-anderson--6SPgTK2pOE-unsplash.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn {
    background-color: #6a60a9;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #574e93;
}


.services {
    padding: 50px 0;
    text-align: center;
    background-color: #f4f4f4;
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.service-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service-box {
    margin: 20px;
    padding: 20px;
    width: 250px;
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 50px;
    height: auto;
    margin-bottom: 15px;
}

.service-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.portfolio {
    padding: 50px 0;
    text-align: center;
    background-color: white;
}

.portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.portfolio-container {
    display: flex;
    justify-content: center;
}

.portfolio-item {
    margin: 20px;
    width: 250px;
}

.portfolio-item img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contact {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

form {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    text-align: left;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #6a60a9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

form button:hover {
    background-color: #574e93;
}

.contact-info {
    margin-top: 20px;
    font-size: 1rem;
    color: #666;
}
